@import "tailwindcss";

/* -----------------------------
   THEME VARIABLES
------------------------------*/
:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #ec4899;
  --primary-hover: #db2777;

  color-scheme: light;
}

/* -----------------------------
   DARK MODE
------------------------------*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0f;
    --foreground: #f5f5f5;

    color-scheme: dark;
  }
}

/* -----------------------------
   BASE STYLES
------------------------------*/
body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px;
}

/* subtle background feel */
body {
  background: #fff7f2;
  color: #1a1a1a;
}

/* smooth hover globally */
button, a {
  transition: all 0.2s ease-in-out;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease;
}

@keyframes float {
0% {
transform: translateY(0px);
}

50% {
transform: translateY(-15px);
}

100% {
transform: translateY(0px);
}
}

.animate-float {
animation: float 5s ease-in-out infinite;
}
